body{ 
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlighted{
    color: red;
}
.first-division{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-division img{
    width: 100%;
}
.first-banner{
    background-image: url("Images/header-bg.png");
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.Bio-area{
    background-image: url(images/biography-bg.png);
    background-size: 100%;
    background-position: left;
}
.work-area img{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.latest-works{
    background-image: url(images/latest-work-bg.png);
    background-size: 100%;
}
.clients-area{
    text-align: center;
}
.clients-speech{
    width: 20%; 50%, 20%
}